body {
  font-size: 16px;
/*  color: #fff;
  background-color: #61122f;
*/  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
  height: 70px;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000; 
  font-size: 1.5em;
/*  text-transform: uppercase; */
  font-weight: bold;
/*  text-shadow: 1px 1px 1px #222; */
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
/*
#nav-list {
  margin-top: 0px;
  border-style :solid;
}
*/
#nav-list a {
  color: #000000;
  text-align: center;
  font-size: 1.0em; 
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list hr {
	background-color: #000000;
    border-top: 1px solid #000000;
    margin-top: 0px;
  	margin-bottom: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

